<h2>{{titleAlert}}</h2>

<p>Alert de informações</p>
<svl-alerts
  [typeAlert] = "0"
  [messageText] = "'Aqui estará o texto contendo a informação'"
></svl-alerts>

<p>Alert de sucesso</p>
<svl-alerts
  [typeAlert] = "1"
  [messageText] = "'Aqui estará a mensagem de sucesso'"
></svl-alerts>

<p>Alert de alerta</p>
<svl-alerts
  [typeAlert] = "2"
  [messageText] = "'Aqui será emitido o alerta'"
></svl-alerts>

<p>Alert de perigo</p>
<svl-alerts
  [typeAlert] = "3"
  [messageText] = "'Aqui aparecerá as informações relativas a erros ou falhas'"
></svl-alerts>
