<h2>{{titleAlert}}</h2>

<p>Alert de informações</p>
<svl-alerts
  [type] = "'informacoes'"
  [message] = "'Aqui estará o texto contendo a informação'"
></svl-alerts>

<p>Alert de sucesso</p>
<svl-alerts
  [type] = "'sucesso'"
  [message] = "'Aqui estará a mensagem de sucesso'"
></svl-alerts>

<p>Alert de alerta</p>
<svl-alerts
  [type] = "'alerta'"
  [message] = "'Aqui será emitido o alerta'"
></svl-alerts>

<p>Alert de perigo</p>
<svl-alerts
  [type] = "'erro'"
  [message] = "'Aqui aparecerá as informações relativas a erros ou falhas'"
></svl-alerts>
