<div class="content">
  
  <h1>Components Serveloja Desenvolvidos</h1>
  <nav>
    <a routerLink="" routerLinkActive="active" class="linkMenu">Home</a>
    <a routerLink="/alert" routerLinkActive="active" class="linkMenu">Alert</a>
    <a routerLink="/input" routerLinkActive="active" class="linkMenu">Input</a>
    <a routerLink="/grid" routerLinkActive="active" class="linkMenu">Grid</a>
    <a routerLink="/radio" routerLinkActive="active" class="linkMenu">Radio Button</a>
  </nav>

  <div class="clear"></div>

  <router-outlet></router-outlet>

</div>