<div class="content">
  
  <h1>Components Serveloja Desenvolvidos</h1>

  <svl-buttons
      [dimension] = "'medio'"
      [large] = "1"
      [link] = "'/'"
      [title] = "'Home'"
      [color] = "'laranja'"
  ></svl-buttons>

  <svl-buttons
      [dimension] = "'medio'"
      [large] = "1"
      [link] = "'alert'"
      [title] = "'Alert'"
      [color] = "'padrao'"
  ></svl-buttons>

  <svl-buttons
      [dimension] = "'medio'"
      [large] = "1"
      [link] = "'input'"
      [title] = "'Input'"
      [color] = "'padrao'"
  ></svl-buttons>

  <svl-buttons
      [dimension] = "'medio'"
      [large] = "1"
      [link] = "'grid'"
      [title] = "'Grid'"
      [color] = "'padrao'"
  ></svl-buttons>

  <svl-buttons
      [dimension] = "'medio'"
      [large] = "1"
      [link] = "'radio'"
      [title] = "'Radio'"
      [color] = "'padrao'"
  ></svl-buttons>

  <svl-buttons
      [dimension] = "'medio'"
      [large] = "1"
      [link] = "'buttons'"
      [title] = "'Buttons'"
      [color] = "'padrao'"
  ></svl-buttons>

  <svl-buttons
      [dimension] = "'medio'"
      [large] = "1"
      [link] = "'dropdown'"
      [title] = "'Dropdown'"
      [color] = "'padrao'"
  ></svl-buttons>

  <svl-buttons
      [dimension] = "'medio'"
      [large] = "1"
      [link] = "'select'"
      [title] = "'Select'"
      [color] = "'padrao'"
  ></svl-buttons>

  <div class="clear"></div>

  <router-outlet></router-outlet>

</div>