<div class="section cd-section section-notifications" id="notifications">
  <div class="alert alert-{{typeOut}}">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">{{iconOut}}</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <b>{{titleOut}}</b> {{messageOut}}
    </div>
  </div>
  <div class="clearfix"></div>
</div>